#header {
  width: 100%;
  min-height: 72px;
  border-bottom: 2px solid #d5d5d5;

  .s-header {
    &--wrap {
      padding: 22px 0;
    }
    &-logo{
      &__sizing {
        height: 27px;
        width: 133px;
        object-fit: cover;
      }
    }

    &-list {
      &--link {
        color: #333333;
        text-decoration: none;
      }
      &__avatar {
        border-radius: 30px;
        width: 30px;
        height: 30px;
      }

      &__dropdown {
        &__nav-lists {
          li {
            display: block;
            padding: 6px 15px;
            &::hover {
              // background-color: #aaaaaa;
            }
            a {
              color: #4a4a4b;
            }
          }
        }
      }
    }
  }

}