/* ----------------------------------------------------------------------------
 * restaurants show detail Info
 * ------------------------------------------------------------------------- */
.c-res-show-detail-info {
  &__table {
    border: 1px solid #eaeaeb;
    background-color: #fafafa;
    margin-bottom: 32px;
    width: 100%;
    border-collapse: separate;
    padding: 8px 16px;

    tr {
      display: block;
      border-bottom: 1px solid #eaeaeb;
      width: 100%;
      &:last-child {
        border-bottom: none;
      }
    }

    th {
      padding: 16px 8px;
      color: #2e2e3b;
      font-weight: 700;
      min-width: 210px;
      span:before{
        width: 24px;
        margin-right: 6px;
        text-align: left;
        display: inline-block;
      }
    }

    td {
      min-height: 80px;
      box-sizing: border-box;
      padding: 16px 8px;
      color: #4a4a4b;
    }
  }
}