/* ----------------------------------------------------------------------------
 * page restaurants index
 * ------------------------------------------------------------------------- */
.p-res-index {
  &__nav {
    a {
      color: #555555;
    }
  }
  .m-search {
    i {
      position: absolute;
      top: 0;
      left: 0;
      padding: 16px 10px;
    }
    input, button {
      height: 54px;
    }
  }
}