/* ----------------------------------------------------------------------------
 * icon from fontawesome
 * ------------------------------------------------------------------------- */
.m-breadcrumb {
  ul {
    color: #555555;
    padding-top: 8px;
    margin-bottom: 10px;
  }
  li {
    display: inline-block;
    font-size: 11px;
  }
}