/* ----------------------------------------------------------------------------
 * Form
 * ------------------------------------------------------------------------- */
 .m-frmTextbox {
  input , textarea{
    width: 100%;
    height: 32px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    // padding: 0 0 0 24px;
    // z-index: 99;
    margin-bottom: 20px;
    box-sizing: border-box;
    &[type="number"] {
      width: 60%;
      display: inline-block;
      margin-right: 8px;
    }
  }
  textarea {
    min-height: 180px;
  }

  label {
    border-bottom: 1px solid #CCCCCC;
    display: block;
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
  .error-message {
    font-size: 8px;
    color: $c-text-error;
  }
 }