/* ----------------------------------------------------------------------------
 * Modal
 * ------------------------------------------------------------------------- */
.m-modal {
  &__header {
    background-color: #F0F0F0;
    border-bottom: 1px solid #DEDEDE;
    padding-top: 10px;
    &__ttl {
      font-size: 16px;
      text-align: center;
      margin: 10px 0;
      line-height: 1.5;
    }

    &__close-btn {
      background-color: #F0F0F0;
      position: absolute;
      top: 10px;
      right: 13px;
      cursor: pointer;
      width: 34px;
      height: 34px;
    }
  }
  &__content {
    padding: 24px;

    .social-content {
      margin-bottom: 60px;
    }
  }
}