/* ----------------------------------------------------------------------------
 * ranking box
 * ------------------------------------------------------------------------- */

 .c-ranking-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;

  &__box {
    background-color: #4285f4;
    color: $c-white;
    width: 50%;
    // margin-bottom: 16px;
    height: 136px;
    padding: 1.25rem;
  }

  .period {
    font-size: 12px;
  }
  .rank {
    font-size: 24px;
    margin-top: 32px;
  }
 }

 @include max-screen($breakpoint-mobile) {
  .c-ranking-box {
    display: block;
     &__box {
      width: 100%;
     }
  }
 }