/* ----------------------------------------------------------------------------
 * ranking box
 * ------------------------------------------------------------------------- */

 .c-ranking-box {
  background-color: #4285f4;
  color: $c-white;
  width: 50%;
  margin-bottom: 16px;
  height: 136px;

  .period {
    font-size: 12px;
  }
  .rank {
    font-size: 24px;
    margin-top: 32px;
  }
 }